<phpunit bootstrap="bootstrap.php"
         cacheTokens="false"
         colors="true">
   <testsuites>
      <testsuite name="Simple User Manager">
         <directory>tests</directory>
         <blacklist>
            <directory>vendor/</directory>
         </blacklist>
      </testsuite>
   </testsuites>
</phpunit>