/* line 1, ../sass/style.scss */
body { padding-top: 80px; padding-bottom: 40px; }
/* line 5, ../sass/style.scss */
body > .container { margin-top: 30px; }

/* line 10, ../sass/style.scss */
.main { margin-top: 2em; }

/* line 14, ../sass/style.scss */
.edit-account { padding-top: 2em; }

/* line 18, ../sass/style.scss */
.permission { margin-top: 3em; }

/* line 25, ../sass/style.scss */
.not-logged-in { position: relative; top: 25px; }
/* line 28, ../sass/style.scss */
.not-logged-in li { display: inline-block; padding-right: 10px; }
/* line 32, ../sass/style.scss */
.not-logged-in a { color: #fff; }

/* line 37, ../sass/style.scss */
.navbar { background-color: #2980B9; }

/* line 41, ../sass/style.scss */
.view-user-navigation { margin-top: 2em; }

/* line 45, ../sass/style.scss */
.search-form { background: none; }
/* line 47, ../sass/style.scss */
.search-form input { width: 220px; }
/* line 50, ../sass/style.scss */
.search-form h2 a.navbar-brand { color: #000; }

/* line 55, ../sass/style.scss */
.navbar .navbar-toggle { border: 1px solid #2980B9; }

/* line 59, ../sass/style.scss */
.navbar .navbar-toggle:hover { background-color: #2980B9; }

/* line 63, ../sass/style.scss */
.navbar .navbar-brand { color: #fff; }

/* line 71, ../sass/style.scss */
.navbar li a:hover { background-color: #3498DB !important; }

/* line 75, ../sass/style.scss */
.navbar li.active a { background-color: #3498DB !important; }

/* line 79, ../sass/style.scss */
.navbar li.dropdown { margin-top: 13px; }
/* line 81, ../sass/style.scss */
.navbar li.dropdown > a { color: #fff; }
/* line 84, ../sass/style.scss */
.navbar li.dropdown b.caret { color: #fff; }

/* line 89, ../sass/style.scss */
a i { position: relative; top: 2px; padding-right: 5px; }

/* line 95, ../sass/style.scss */
.main-menu a.dropdown-toggle { background: #2980B9 !important; }

/* line 99, ../sass/style.scss */
div.search-header { margin-bottom: 20px; }
/* line 102, ../sass/style.scss */
div.search-header form button { position: relative; bottom: 5px; }

/* line 113, ../sass/style.scss */
.profile-block { margin-top: 2em; }
/* line 116, ../sass/style.scss */
.profile-block h3 { margin-top: 10px; }
/* line 120, ../sass/style.scss */
.profile-block ul { list-style: none; padding: 0; }

/* line 126, ../sass/style.scss */
.jumbotron { margin: 20px 80px 40px; text-align: center; }
/* line 129, ../sass/style.scss */
.jumbotron h1 { font-size: 80px; line-height: 1; }
/* line 133, ../sass/style.scss */
.jumbotron .lead { font-size: 24px; line-height: 1.25; }

/* line 139, ../sass/style.scss */
span.red { color: red; }

/* line 143, ../sass/style.scss */
.label-block { margin-top: 5px; font-weight: 500; }

/* line 148, ../sass/style.scss */
table .btn { width: 88%; margin: 0; }

/* line 153, ../sass/style.scss */
.tab-content { margin-top: 1em; }

/* line 157, ../sass/style.scss */
.gravatar { border: 2px solid #ddd; margin-right: 10px; }

/* line 161, ../sass/style.scss */
h2 .gravatar { height: 50px; width: 50px; }

/* line 166, ../sass/style.scss */
table td.image { text-align: center; margin: 0 !important; }

/* line 171, ../sass/style.scss */
footer { margin-top: 40px; padding-top: 10px; }
/* line 172, ../sass/style.scss */
footer > .container { border-top: 1px solid #eee; padding-top: 10px; }

/* line 182, ../sass/style.scss */
td label { font-weight: normal; }

/** =========================== ALERT */
/* line 190, ../sass/style.scss */
.alert { width: 85%; margin: 2em auto 1em; text-align: center; font-size: 15px; }

/** ========================== TOOLTIPS */
/* line 201, ../sass/style.scss */
.delete_group_tooltip { position: relative; top: 5px; left: 3px; }

/** =========================== TYPOGRAPHY */
/* line 211, ../sass/style.scss */
h1, h2, h3, h4, h5 { font-weight: normal; }

/* line 215, ../sass/style.scss */
h2 { padding: 0; margin: 0 0 20px 0; }

/* line 220, ../sass/style.scss */
p { margin-top: 10px; }

/* line 224, ../sass/style.scss */
.tabbable h2 { margin-top: 0; display: inline; }
/* line 228, ../sass/style.scss */
.tabbable h2 .navbar-form { margin-bottom: 2px; }
/* line 230, ../sass/style.scss */
.tabbable h2 .navbar-form button { margin-bottom: 8px; position: relative; bottom: 5px; }

/** =========================== FORM STUFF */
/* line 242, ../sass/style.scss */
.modal-body .form-group { margin-top: 1em; }

/* line 252, ../sass/style.scss */
textarea.form-control { height: 108px; }

/* line 256, ../sass/style.scss */
textarea { width: 300px; height: 200px; }
/* line 259, ../sass/style.scss */
textarea[name='template_data'] { width: 100%; height: 300px; font: 14px/22px "PragmataPro", "Menlo", "Inconsolata", "Lucida Console", "Monaco", monospace; }

/* line 266, ../sass/style.scss */
textarea.high-textarea { height: 230px; }

/* line 286, ../sass/style.scss */
.form-login, .form-register { width: 400px; margin: 3em auto; }

/* line 295, ../sass/style.scss */
.help-block span.label { font-weight: bold; font-size: 13px; }

/* line 300, ../sass/style.scss */
.placeholder { display: inline-block; padding: 5px; }

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
